NEXT_PUBLIC_SUPABASE_URL=https://cuaoprxlcbornfxkxkot.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1YW9wcnhsY2Jvcm5meGt4a290Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzMjkwMDMsImV4cCI6MjA3NzkwNTAwM30.LJ60lLiHJLIbloOcHdvlDSeCR3PH5x3i-IGcB4Tnf-Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1YW9wcnhsY2Jvcm5meGt4a290Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjMyOTAwMywiZXhwIjoyMDc3OTA1MDAzfQ.jl1-PURXVC37DlUWRNPji-e9jcoQfV-0E9Bet9bg2Dw

# Your deployed URL (used for password-reset redirect links)
# In development: http://localhost:3000
# In production: https://your-app.vercel.app
NEXT_PUBLIC_SITE_URL=https://ghar-payy-pg-9fe7-32hggijdy-vhoratanvir1610-gmailcoms-projects.vercel.app/
